@import './base.css';

#app {
  width: 100%;
  height: 80vh;
  max-width: 600px;
  margin: auto;
  padding: var(--spacing-lg);
  background-color: var(--color-background);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-light);
}

main{
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-xs);
  border: var(--border-default);
  border-radius: var(--radius-sm);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li,
p {
  padding: var(--spacing-md);
  border-bottom: var(--border-default);
  cursor: pointer;
}

@media (hover: hover) {
  li:hover {
    background-color: var(--vt-c-white-mute);
  }
}

li:last-child {
  border-bottom: none;
}
